.heading{
    font-size: 35px;
}
.wrapper{
    padding: 50px;
}
.button{
    border-radius: 5px;
    border: 4px solid forestgreen;
    color: navajowhite;
    background-color: teal;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 270px;
    font-size: 24px;
    margin-bottom: 40px;
}
.button-secondary{
    background-color: indigo;
    width: 320px;
}
